@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
        .text-shadow {
          text-shadow: 2px 2px 4px black;
        }
        
        .text-shadow-sm {
          text-shadow: 2px 2px 2px rgb(0, 0, 0);
        }

        .text-shadow-sm-blue {
          text-shadow: 2px 2px 2px rgb(35, 149, 255);
        }

        .text-shadow-sm-red {
          text-shadow: 2px 2px 2px #ff02027c;
        }

        .text-shadow-md {
          text-shadow: 4px 4px 8px black;
        }

        .text-shadow-black {
          text-shadow: 1px 0.1px 2px rgba(0, 0, 0, 0.493);
        }

        .text-shadow-white {
          text-shadow: 1px 0.1px 4px rgba(255, 255, 255, 0.623);
        }
        
        .text-shadow-lg {
          text-shadow: 15px 15px 30px black;
        }
        
        .text-shadow-none {
          text-shadow: none;
        }
        
        .text-shadow-custom-blue {
            text-shadow: 1px 0.1px 5px #0ea5e9;
        }
      
        .box-shadow-custom-red {
          box-shadow: 6px 7px 3px #ff02027c;
        }

        .box-shadow-custom-orange {
          box-shadow: 1px 0.1px 35px rgba(255, 115, 0, 0.616);
        }

        .rounded-custom {
          border-radius: 5px 7px;
        }

        .custom-letter-spacing {
          letter-spacing: 0.05rem;
        }

        .custom-letter-spacing-wider {
          letter-spacing: 0.1rem;
        }

    } 