.pagecontainer{
    width: 100%;
    
    display: flex;
    flex-direction: column;
}

.eventimage{
    background-color: transparent;
   
    width: 65%;
    height: 8rem;
    position: absolute;
    margin-left: 6rem;
    margin-top: 2rem;
}

.eventinfo{
    background-color: #f7f7f7;
    
    margin-left: 10rem;
    width: 75%;
    border-bottom: 4px;
    border-color: darkblue;
    border-bottom-style: solid;
    padding-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
    padding-right: 1rem;
    
}

.image{
    height: 8rem;
    width: 8rem;
    object-fit: cover;
    float:left;
    border: darkblue;
    border-style: solid;
    
}

